/* Css for Forms
.formstyle{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 200px;
  text-align: center;
}

.btnstyle{
  background-color: #45a049;

}

.gap{
  margin-top: 10px;
} */

div{
  height: 300px;
  width: auto;
  padding: 50px;
  margin:20px;
  border-radius: 10px;
}

.btnstyle{
  
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 350px;
    margin-top: 100px;
}